html, body, section {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #66d2d5, #5bbdd7);
  font-family: 'Staatliches', cursive;
  font-size: 54px;
}

section p {
  margin: 2px;
  color: #f1f6f9;
}