html, body, section {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(80, 80, 80);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  height: 100%;
  width: 100%;
  white-space: pre-line;
}

section h2 {
  margin: 2px 0 2px 30px;
  font-size: 24px;
}

article {
  border-top: 2px solid black;
}

article h4 {
  margin: 2px 0 2px 30px;
  color: rgb(29, 29, 29);
}

article p {
  margin: 0 10px;
  color: #f1f6f9;
  word-wrap: break-word;
}

article p:first-of-type {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}